{{#each this}}
  <div class="song">
  <h2> {{songTitle}} </h2>
  <span class="songStats"> {{artist}} | </span>
  <span class="songStats"> {{albumTitle}} | </span>
  <span class="songStats"> {{genre}} </span>
  <button class="{{@key}} deleteBtn"> Delete </button>
  <button class="{{@key}} editBtn"> Edit </button>
  </div>
{{/each}}
