{{#each this}}
  <div class="song">
    <div class="row"> <h2> {{songTitle}} </h2> </div>
    <div class="row">
      <span class="songStats">{{artist}} | </span>
      <span class="songStats">{{albumTitle}} | </span>
      <span class="songStats"> {{genre}} </span>
    </div>
    <div class="row">
      <button class="deleteBtn col-xs-offset-1" key='{{@key}}'> Delete </button>
      <button class="editBtn" key='{{@key}}'> Edit </button>
    </div>
  </div>
{{/each}}
